.productModal .MuiPaper-elevation{
    padding: 25px;
    position: relative;
    max-width: 900px;
    width: 900px;
}
.productModal .close_{
    position: absolute;

    top: 10px;
    right: 10px;
    color: #000;
    min-width: 40px;
    width: 40px;      
    height: 40px;
    border-radius: 50%;

}
.productModal .close_ svg{
    font-size: 20px;
    font-weight: 600;
}
.productModal h4{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
}

.productZoom{
    width: 100%;
    height: 330px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 0px;
    overflow: hidden;
    border-radius:15px;
}
.zoomSliderBig{
    width: 100%;

}
.zoomSlider {
    padding-top: 30px;
}
.zoomSlider .slick-slide{
    padding-right: 20px;
}

.zoomSlider *{
    outline: none;
}
.zoomSlider .item{
    border: 2px solid transparent;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.zoomSlider .slick-current .item{
    border: 2px solid #3bb77e;
}
.zoomSlider .slick-arrow{
    top: 55%;
    zoom: 80%;
}
.zoomSlider .slick-arrow.slick-next{
    right: -2%;
} 
.zoomSlider .slick-arrow.slick-prev{
    left: -5%;
}

.productItem .info h4{
    font-size: 15px;
    font-weight: 600;
  }
.info{
    padding: 15px;
  }
  .info .oldPrice{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.2);
    text-decoration: line-through;
  }
.info .netPrice{
    font-size: 16px;
    font-weight: bold;
  
  }
  .badge.bg-success{
    background: #e5f8ed !important;
    color: #16b858 !important;
  }
  .btn-blue{
    background: #233a95 !important;
    color: #fff !important;
    text-transform: capitalize !important;
  }
  .btn-big{
    font-size: 15px !important;
    padding: 7px 40px !important;
    min-width: auto;

  }
  .btn-round{
    border-radius: 28px !important;
  }
  .quantityDrop{
    width: 150px;  
    gap: 20px;  
  }
  .quantityDrop Button{
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #edeef5;
    border: 1px solid rgba(0,0,0,0.1);
    color: #000;
  }
  .quantityDrop Button svg{
    color: #000;
  }
  .quantityDrop input{
    width: 15px;
    border: 0px;
    background: transparent;
    outline: none;
    font-size: 18px;
  }
  .actions .btn-sml{
    font-size: 10px;
    color: #000 !important;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid rgba(0,0,0,0.1);
  }
  .actions .btn-sml  svg{
    font-size: 13px;
    color: rgb(239, 37, 71);
  }
  .actions .compare svg{
    font-size: 16px;
    color: #233a95 !important;
  }