.bg-blue{
    background:#233a95;
  }
  .headerWrapper .top-strip{
  padding: 8px 0px;
  }
  .headerWrapper .top-strip p{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }
  .headerWrapper .header{
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }
  .logoWrapper img{
    width: 75%;
  }
   .header .part2 .countryDrop{
    width: 170px;
    height: 50px;
    min-width: 170px;
    text-align: left;
    justify-content: flex-start;
    color: #000;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 10px 15px;
  }
  /* .header .part2 .countryDrop .info{
    width: 120px;
    min-width: auto;
  } */

  .header .part2 .countryDrop span.ms-auto svg{
    opacity: 0.7;
  }
.header .part2 .countryDrop .location{
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: rgba(0,0,0,0.7);
    line-height: 16px;
  }
  .header .part2 .countryDrop .name{
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: #233a95;
    font-weight: 700;
    line-height: 16px;
  }

  .header .headerSearch{
    width: 60%;
    height: 50px;
    background: #f3f4f7;
    padding: 10px;
    position: relative;
    border-radius: 9px;
    border: 1px solid rgba(0,0,0,0.1);
  }
  .header .headerSearch input{
    background: transparent;
    outline: none;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    width: 100%;
    height: 25px;
    border: 0px;
    padding: 0px 20px;
  }
  .header .headerSearch Button{
    position: absolute;
    top: 4px;
    right: 15px;
    z-index: 100;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius:50% ;
    color: #000;
  }
  .header .headerSearch Button svg{
    font-size: 25px;

  }
  .header .user-icon{
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    color: #000;
  }
  .header .user-icon svg{
    font-size: 20px;
    color: rgba(0,0,0,0.7);
  }