footer{
    width: 100%;
    height: 500px;
    margin: auto;
    background: #fff;
    padding: 25px 0px;
}
footer .topInfo .col{
    padding: 15px 15px;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-left: 40px;
}
footer .topInfo .col:last-child{
    border-right: 0px;
}
footer .topInfo .col svg{
    font-size: 26px;
    margin-right: 10px;
}
footer .topInfo .col span{
    font-size: 15px;
    font-weight: 600;
}
footer .topInfo{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 25px;
}
footer .linksWrap h5{
    font-size: 16px;
}
footer .linksWrap ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer .linksWrap ul li a{
    color: #71778e;
    font-size: 13px;
    text-decoration: none;
}
