@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

nav .allCatTab{
    background: #2bbef9 !important;
    padding: 10px 15px;
    border-radius: 30px;
  }
  nav .allCatTab:hover{
    background: #2bbef9 !important;
  }
  nav .allCatTab *{
    color: #fff;
  }
  nav .allCatTab .text{
    font-weight: 600;
  }

  nav .allCatTab .icon1 svg{
    font-size: 20px;
  }

  nav .allCatTab .icon2 svg{
    font-size: 20px;
  }
  nav .navPart2 ul{
    margin-bottom: 0px;
  }
  nav .navPart2 ul li a{
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
  }
  nav .navPart2 ul li a:hover{
    background: #f0faff;
    color: #2bbef9;
  }
  nav .navPart2 ul li a svg{
    font-size: 20px;
    margin-right: 4px;
  }
  nav .navPart1{
    max-width: 20%;
    flex: 0 0 20%;
  }
  nav .navPart2{
    max-width: 80%;
    flex: 0 0 80%;
  }