@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

nav .allCatTab{
    background: #2bbef9 !important;
    padding: 10px 15px;
    border-radius: 30px;
  }
  nav .allCatTab:hover{
    background: #2bbef9 !important;
  }
  nav .allCatTab *{
    color: #fff;
  }
  nav .allCatTab .text{
    font-weight: 600;
  }

  nav .allCatTab .icon1 svg{
    font-size: 20px;
  }

  nav .allCatTab .icon2 svg{
    font-size: 20px;
  }
  nav .navPart2 ul{
    margin-bottom: 0px;
  }
  nav .navPart2 ul li a{
    text-decoration: none;
  }
  nav .navPart2 ul li a button{
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    padding: 8px 14px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
  }
  nav .navPart2 ul li a button:hover{
    background: #f0faff;
    color: #2bbef9;
  }
  nav .navPart2 ul li a svg{
    font-size: 20px;
    margin-right: 4px;
  }
  nav .navPart1{
    max-width: 20%;
    flex: 0 0 20%;
  }
  nav .navPart2{
    max-width: 80%;
    flex: 0 0 80%;
  }

  nav .navPart2 ul li{position: relative;padding-bottom: 20px;}
  nav .navPart2 ul li .submenu{
    position: absolute;
    top: 150%;
    left: 0px;
    min-width: 200px;
    background: #fff;
    opacity: 0; visibility: hidden; transition: all 0.2s ease-in-out;
    z-index: 100;
  }

  nav .navPart2 ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
    top: 100%;
  }

  nav .navPart2 ul li:hover .submenu button{
    border-radius: 0px;
  }

  nav .navPart2 ul li .submenu a{
    display: block;
    width: 100%;
  }

  nav .navPart2 ul li .submenu a button{
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px;
    text-transform: capitalize;
    font-weight: 600;
  }
  nav .navPart2 ul li .submenu a button:hover{
    background: #f1f1f1;
  }
  .navPart1 .cartWrapper{
    position: relative;
  }
  .navPart1 .cartWrapper .sidebarNav{
    width: 100% ;
    background: #fff;
    position: absolute;
    top: 135%;
    /* left: 0px; */
    padding: 15px 0px ;
    height: 100%;
    opacity: 0;
    border: 1px solid rgba(0,0,0,0.1);
    transition: all 0.2;
    visibility: hidden;
    z-index: 100;
  }

  .navPart1 .cartWrapper .sidebarNav.open{
    height: auto;
    opacity: 1;
    visibility: inherit;
  }
  .navPart1 .cartWrapper .sidebarNav ul li{
    list-style: none;
    width: 100%;
    padding: 0px 10px;
    position: static;
    
  }

  .navPart1 .cartWrapper .sidebarNav ul li .submenu{
    position: absolute;
    top: 0px;
    left: 102%;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 17px;
  }

  .navPart1 .cartWrapper .sidebarNav ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
    left: 100%;
  }
  .navPart1 .cartWrapper .sidebarNav ul li button{
    color: #000;
    width: 100%;
    justify-content: flex-start;
    text-transform: capitalize;
  }
  .navPart1 .cartWrapper .sidebarNav ul li button svg{
    font-size: 15px;
    opacity: 0.6;
  }
  nav .navPart1 .cartWrapper .sidebarNav ul li button:hover{
    background: transparent;
  }

